{{define "footer"}}
<div>
    <span class="tmdiv trademark"> <img src="/public/stylesheets/trademark_icon.PNG" alt="tm"> Go Port Elizabeth loadshedding Web Scheduler 2020</span>
</div>
</html>
{{end}}